$bg-color: #131313;
$elements-color: #e3b873;

$futura-book-c: 'FuturaBookC', sans-serif;
$futura-demi-c: 'FuturaDemiC', sans-serif;
$futura-medium-c: 'FuturaMediumC', sans-serif;
$proxima-nove: 'Proxima Nova', sans-serif;
$yeseva-one: 'Yeseva One', cursive;

@mixin transitions() {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1438px;
  margin: 0 auto;
}

/* HEADER */

.header {
  height: 37px;
  background-color: $bg-color;
  padding: 24px 7% 22px 6%;

  @media screen and (max-width: 425px) {
    height: 10px;
    padding: 23px 18px 24px 18px;
  }
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;

  font-family: $futura-demi-c;

  .header__title-link {
    color: $elements-color;
    text-decoration: none;
  }
}

.header__navbar {
  width: 47%;

  @media screen and (max-width: 768px) {
    display: none;
  }

  ul {
    display: flex;
    padding: 0;
    //width: 581px;
    width: 100%;
    justify-content: space-between;

    .navbar__item {
      list-style: none;
    }

    .navbar__link {
      font-size: 14px;
      line-height: 16px;
      text-decoration: none;
      color: #fff;
      font-family: $futura-book-c;

      @include transitions();

      &--active {
        color: $elements-color;
        text-decoration: none;
      }

      &:hover {
        color: $elements-color;
      }
    }
  }
}

.header__tel {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  font-family: $futura-book-c;

  @include transitions();

  &:hover {
    color: $elements-color;
    text-decoration: underline;
  }
}

.header__button {
  border: 1px solid $elements-color;
  color: #fff;
  background-color: $elements-color;
  border-radius: 2px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 15px;
  padding: 13px 33px;
  font-family: $futura-demi-c;
  box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

  @media screen and (max-width: 1024px) {
    display: none;
  }
}

/* INTRO */

.intro-wrapper {
  display: flex;
  height: 707px;
  position: relative;

  @media screen and (max-width: 425px) {
    height: 476px;
  }
}

.intro__instagram {
  background: $bg-color;
  width: 81px;
  position: relative;

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.instagram__wrapper {
  position: absolute;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  width: 148px;
  top: 227px;
  right: -35px;
}

.instagram__link {
  font-size: 14px;
  line-height: 16px;
  font-family: $futura-demi-c;
  text-align: center;
  text-decoration: none;
  color: $elements-color;
  margin-right: 9px;
}

.instagram__line {
  border-top: 1.5px solid $elements-color;
  width: 51px;
}

.intro__main {
  background-image: url(/assets/images/image-4.3.png);
  //width: 1298px;
  width: 91%;
  padding: 318px 0 0 60px;

  @media screen and (max-width: 425px) {
    width: 100%;
    padding: 85px 18px 0 18px;
    background-image: url(/assets/images/intro-main-mobile.png);
  }
}

.main__title-mobile {
  display: none;
  font-size: 23px;
  line-height: 31px;
  font-family: $yeseva-one;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 20px;

  @media screen and (max-width: 425px) {
    display: block;
  }

  span {
    color: $elements-color;
  }
}

.main__content {
  font-size: 22px;
  line-height: 30px;
  font-family: $futura-book-c;
  font-weight: 300;
  color: #ffffff;
  z-index: 2;
  width: 444px;
  height: 89px;
  margin-bottom: 41px;

  @media screen and (max-width: 425px) {
    font-size: 18px;
    line-height: 24px;
    width: 100%;
  }
}

.main__buttons-row {
  width: 434px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 425px) {
    flex-direction: column;
    width: 100%;
  }
}

.main__button {
  display: block;
  font-size: 13px;
  line-height: 15px;
  font-family: $futura-demi-c;
  text-align: center;
  color: #fff;
  height: 13px;
  width: 207px;
  padding: 19px 0;
  border: 1px solid #fff;
  border-radius: 2px;

  @include transitions();

  &:hover {
    background: $elements-color;
    border-color: $elements-color;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }

  @media screen and (max-width: 425px) {
    width: 100%;
  }

  &:nth-child(1) {
    margin-bottom: 26px;
  }
}

.scroll {
  width: 150px;
  height: 29px;
  padding: 34px 49px 34px 48px;
  background: $bg-color;
  position: absolute;
  bottom: -48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.scroll__title {
  font-size: 14px;
  line-height: 19px;
  font-family: $yeseva-one;
  text-transform: uppercase;
  color: #fff;
}

.scroll__button {
  width: 29px;
  height: 29px;
  border: 1.5px solid $elements-color;
  border-radius: 50%;
  color: $elements-color;

  i {
    position: relative;
    top: 7px;
    left: 10px;
    @include transitions();
  }

  &:hover {
    cursor: pointer;
  }

  &:hover i {
    top: 12px;
  }
}

/* FIRST-SLIDER */

.first-slider {
  background: $bg-color;
  height: 1074px;
  display: flex;

  @media screen and (max-width: 1000px) {
    display: block;
    height: auto;
  }
}

.projects-slider-wrapper {
  width: 34%;
  height: 482px;
  background: $bg-color;
  padding-left: 8%;
  padding-top: 176px;

  @media screen and (max-width: 1000px) {
    width: auto;
    height: auto;
    padding: 36px 18px 0 18px;
  }
}

.projects-slider__slider-item {
  margin-bottom: 63px;
}

.slider-item__title {
  position: relative;
  width: 253px;
  height: 66px;
  margin-bottom: 34px;
  font-size: 27px;
  line-height: 37px;
  font-family: $yeseva-one;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: $elements-color;

  @media screen and (max-width: 1000px) {
    margin: 0 auto 34px;
    text-align: center;
  }

  .title-line::after {
    content: '';
    position: absolute;
    width: 92px;
    border: 1px solid #e3b873;
    left: 155px;
    bottom: 11px;
  }
}

@media screen and (max-width: 1000px) {
  .title-line::after {
    display: none;
  }
}

.slider-item__content {
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  font-family: $futura-book-c;
  height: 86px;
  width: 91%;
  margin-bottom: 42px;

  @media screen and (max-width: 1000px) {
    width: 85%;
    text-align: center;
    margin: 0 auto;
  }

  @media screen and (max-width: 425px) {
    width: 311px;
    font-size: 14px;
    line-height: 22px;
  }
}

.slider-item__content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 34px;

  @media screen and (max-width: 1000px) {
    display: none;
  }

  .content-grid__item {
    font-size: 15px;
    line-height: 20px;
    font-family: $futura-book-c;
    color: #fff;

    .item__title {
      font-size: 18px;
      line-height: 25px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: $elements-color;
      margin-bottom: 9px;
    }
  }
}

.projects-slider__slider-nav {
  width: 204px;
  height: 13px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.slider-nav__left,
.slider-nav__right {
  &:hover {
    cursor: pointer;
  }
}

.slider-nav__dots {
  width: 63px;
  display: flex;
  justify-content: space-between;
}

.slider-nav__dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);

  @include transitions();

  &--active {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #fff;
  }

  &:hover {
    background: #fff;
    cursor: pointer;
  }
}

.images-slider-wrapper {
  width: 59%;
  height: 551px;
  padding-top: 107px;
  background: $bg-color;

  @media screen and (max-width: 1000px) {
    width: auto;
    height: 780px;
    padding: 0 18px 36px;
  }

  @media screen and (max-width: 425px) {
    height: auto;
  }
}

.images-slider__nav {
  width: 623px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
  font-family: $yeseva-one;
  text-transform: uppercase;
  margin-bottom: 53px;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    width: 550px;
  }

  @media screen and (max-width: 1000px) {
    display: none;
  }
}

.images-slider__nav-item {
  color: rgba(255, 255, 255, 0.3);

  @include transitions();

  &--active {
    color: $elements-color;
    text-decoration: underline;
  }

  &:hover {
    color: $elements-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

.images-slider__items-row {
  position: relative;
  display: flex;
  overflow: hidden;
}

.images-slider__item {
  width: 100%;
  margin-right: 21px;

  @media screen and (max-width: 425px) {
    margin: 0;
    margin-bottom: 36px;
  }
}

.images-slider__nav-right,
.images-slider__nav-left {
  position: absolute;
  top: 205px;
  width: 10px;
  height: 17px;
  border-radius: 50%;
  background: $elements-color;
  color: #fff;
  padding: 18px 21px 19px 23px;

  @include transitions();

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    top: 174px;
  }

  @media screen and (max-width: 1000px) {
    top: 213px;
  }

  @media screen and (max-width: 425px) {
    top: 103px;
    height: 12px;
    width: 7px;
    padding: 9px 14px 15px 15px;

    img {
      width: 6px;
      height: 10px;
    }
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  }
}

.images-slider__nav-right {
  right: 45px;

  @media screen and (max-width: 425px) {
    right: 14px;
  }
}

.images-slider__nav-left {
  left: 45px;
  padding: 18px 23px 19px 21px;

  @media screen and (max-width: 425px) {
    left: 14px;
    top: 103px;
    padding: 9px 14px 15px 15px;
  }

  img {
    transform: scaleX(-1);
  }
}

.slider-item__content-grid--mobile {
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 34px;

  .content-grid__item {
    font-size: 15px;
    line-height: 20px;
    font-family: $futura-book-c;
    color: #fff;

    @media screen and (max-width: 425px) {
      font-size: 14px;
      line-height: 19px;
    }

    .item__title {
      font-size: 18px;
      line-height: 25px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: $elements-color;
      margin-bottom: 9px;

      @media screen and (max-width: 425px) {
        font-size: 14px;
        line-height: 19px;
      }
    }
  }

  @media screen and (max-width: 425px) {
    display: grid;
  }
}

/* REPAIR-INFO */

.repair-info-wrapper {
  height: 833px;
  background: #fff;
  position: relative;

  @media screen and (min-width: 426px) and (max-width: 1420px) {
    height: 1135px;
  }

  @media screen and (max-width: 425px) {
    background: $bg-color;
    height: 940px;
    padding: 0 18px;
  }
}

.repair-info {
  position: absolute;
  height: 1105px;
  //width: 817px;
  width: 58%;
  top: -272px;
  //left: 310px;
  right: 22%;

  // @media screen and (min-width: 426px) and (max-width: 1024px) {
  //   right: 8%;
  // }

  @media screen and (min-width: 426px) and (max-width: 1000px) {
    width: 80%;
    right: 10%;
  }

  @media screen and (max-width: 425px) {
    position: unset;
    height: auto;
    width: 100%;
  }
}

.repair-info__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.repair-info__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 31px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.repair-info__video {
  height: 434px;
  margin-bottom: 62px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);

  iframe {
    width: 100%;
    height: 100%;
  }

  @media screen and (max-width: 425px) {
    height: 207px;
  }
}

.repair-info__content {
  position: relative;
  //width: 673px;
  width: 81%;
  padding-top: 34px;
  margin: 0 auto 91px;
  font-size: 20px;
  line-height: 34px;
  font-family: $futura-book-c;
  text-align: center;
  color: #363636;

  &::before {
    content: '';
    position: absolute;
    width: 55px;
    top: 0;
    left: 45%;
    border: 1px solid $elements-color;
  }

  @media screen and (max-width: 425px) {
    font-size: 14px;
    line-height: 24px;
    width: 100%;
    height: auto;
    color: #fff;
    margin-bottom: 40px;

    &::before {
      left: 41%;
    }
  }
}

.repair-info__form {
  width: 769px;
  width: 92%;
  margin: 0 auto;

  @media screen and (max-width: 425px) {
    width: 100%;
  }

  form {
    width: 100%;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 231px 231px 200px;
    grid-template-rows: 51px 51px;
    grid-template-areas:
      'name tel button'
      'checkbox checkbox checkbox';

    @media screen and (max-width: 1420px) {
      grid-template-columns: 1fr;
      row-gap: 50px;
      grid-template-rows: 51px 51px 51px 511;
      grid-template-areas:
        'name'
        'tel'
        'checkbox'
        'button';
    }
  }
}

.form__group {
  label {
    font-size: 15px;
    line-height: 20px;
    font-family: $futura-book-c;
    color: rgba(54, 54, 54, 0.5);

    @media screen and (max-width: 425px) {
      color: rgba(255, 255, 255, 0.5);
    }
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(36, 36, 36, 0.3);
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    font-family: $futura-book-c;
    display: block;
    background: transparent;

    color: #363636;

    &:focus {
      outline: none;
    }

    @media screen and (max-width: 425px) {
      color: #fff;
      border-color: rgba(255, 255, 255, 0.15);
      line-height: 25px;

      &::-webkit-input-placeholder {
        color: #fff;
      }

      &:-ms-input-placeholder {
        color: #fff;
      }

      &::placeholder {
        color: #fff;
      }
    }
  }
}

.form__name {
  display: block;
  grid-area: name;
}

.from__phone {
  display: block;
  grid-area: tel;
}

.form__checkbox {
  grid-area: checkbox;
  justify-self: center;
  align-self: end;

  @media screen and (max-width: 425px) {
    justify-self: left;
  }

  label {
    font-size: 16px;
    line-height: 22px;
    font-family: $futura-book-c;
    color: #181818;

    @media screen and (max-width: 425px) {
      color: #fff;
    }
  }

  .custom-cb {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label::before {
      content: '';
      margin-right: 8px;
      display: inline-block;
      vertical-align: text-top;
      width: 18px;
      height: 18px;
      border: 1px solid $elements-color;
      border-radius: 1px;
      background: transparent;
    }

    &:checked + label::before {
      background: $elements-color;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: #fff;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
      transform: rotate(45deg);
    }
  }
}

.repair-info__form-submit {
  grid-area: button;
  border: 1px solid $elements-color;
  color: #fff;
  background-color: $elements-color;
  border-radius: 2px;
  font-size: 15px;
  line-height: 26px;
  font-family: $futura-demi-c;
  text-transform: uppercase;
  padding: 13px 70px;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);

  &:hover {
    cursor: pointer;
  }
}

/* REPAIR-TYPES */

.repair-types-wrapper {
  height: 833px;
  background: #fff;
  padding: 0 98px 0 100px;

  @media screen and (max-width: 768px) {
    padding: 0;
    padding-top: 83px;
    padding-left: 18px;
    padding-right: 18px;
    width: auto;
    height: 710px;
  }

  @media screen and (max-width: 425px) {
    height: 100%;
  }
}

.repair-types {
  height: 100%;
}

.repair-types__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 12px;
}

.repair-types__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 31px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.section__title {
  width: 257px;
  height: 67px;
  background: $bg-color;
  margin: 0 auto 31px;
}

.cards-wrapper {
  //width: 1238px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 425px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.repair-types__item {
  height: 608px;
  //width: 392px;
  width: 32%;
  position: relative;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    height: 580px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    height: 560px;
  }

  @media screen and (max-width: 425px) {
    margin-bottom: 59px;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  .item__image {
    width: 100%;
  }

  .item__list-wrapper {
    //width: 296px;
    width: 76%;
    height: 261px;
    background: #fff;
    position: absolute;
    padding: 25px 0 0 34px;
    top: 294px;
    //@at-rootleft: 31px;
    left: 8%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      top: 248px;
      left: 6%;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      padding: 24px 0 0 23px;
      width: 82%;
      top: 225px;
      left: 4%;
    }

    @media screen and (max-width: 425px) {
      left: -1px;
    }
  }

  .item__list-title {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    color: #363636;
    margin-bottom: 13px;
  }

  .item__list {
    padding: 0 0 0 17px;
  }

  .item__list-item {
    font-size: 15px;
    line-height: 25px;
    font-family: $futura-book-c;
    color: #959595;
  }

  .item__button {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 0;
    //left: 31px;
    left: 8%;
    padding: 17px 21px;
    background: $elements-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

    @media screen and (min-width: 426px) and (max-width: 1000px) {
      font-size: 17px;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      font-size: 16px;
      left: 4%;
    }

    @media screen and (max-width: 425px) {
      left: -1px;
    }
  }
}

/* REQUEST */

.request-wrapper {
  height: 1092px;
  display: flex;
  background: #fff;

  @media screen and (min-width: 426px) and (max-width: 1369px) {
    height: 760px;
  }

  @media screen and (min-width: 426px) and (max-width: 1000px) {
    height: 700px;
  }

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.request-descr-wrapper {
  width: 835px;
  height: 100%;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 426px) and (max-width: 1369px) {
    display: none;
  }

  .background-circle {
    position: absolute;
    height: 638px;
    width: 638px;
    border-radius: 50%;
    top: 55px;
    left: -157px;
    border: 3px solid $elements-color;
  }
}

.background-image {
  position: relative;
}

.request__item {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 2;

  &:nth-child(1) {
    top: 117px;
    left: 358px;
  }

  &:nth-child(2) {
    top: 228px;
    left: 432px;
  }

  &:nth-child(3) {
    top: 389px;
    left: 456px;
  }

  &:nth-child(4) {
    top: 549px;
    left: 391px;
  }

  &:nth-child(4) .request__item-text {
    width: 208px;
  }
}

.request__item-number {
  font-size: 18px;
  line-height: 25px;
  font-family: $yeseva-one;
  text-align: center;
  margin-right: 2px;
  color: #fff;
  background: $elements-color;
  height: 33px;
  width: 41px;
  padding-top: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
}

.request__item-text {
  font-size: 18px;
  line-height: 21px;
  font-family: $futura-medium-c;
  color: #363636;
  width: 364px;
}

.request-form-wrapper {
  width: 605px;
  padding-top: 110px;

  @media screen and (max-width: 1369px) {
    margin: 0 auto;
    padding-top: 0;
  }
}

.request-form {
  width: 408px;
  height: 481px;
  padding: 28px 49px 27px 49px;
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 38px;

  @media screen and (max-width: 1369px) {
    margin: 0 auto 38px;
  }

  .form__group {
    width: 100%;

    &:nth-child(2) {
      margin-bottom: 48px;
    }

    &:nth-child(3) {
      margin-bottom: 48px;
    }

    &:nth-child(4) {
      margin-bottom: 16px;
    }

    &:nth-child(5) {
      margin-bottom: 39px;
    }
  }

  .form__group input {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.15);
    line-height: 25px;

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }

    &::placeholder {
      color: #fff;
    }
  }

  .form__group label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form__checkbox label {
    color: #fff;
  }
}

.request-form__title {
  font-size: 20px;
  line-height: 25px;
  font-family: $futura-demi-c;
  text-align: center;
  color: #fff;
  width: 290px;
  height: 47px;
  margin: 0 auto 39px;
}

.request-form__form-submit {
  font-size: 13px;
  line-height: 18px;
  font-family: $futura-demi-c;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $elements-color;
  color: #fff;
  background-color: $elements-color;
  padding: 18px 44px 19px 45px;
  margin-left: 178px;

  @media screen and (max-width: 1369px) {
    display: block;
    margin: 0 auto;
  }

  &:hover {
    cursor: pointer;
  }
}

.request-information {
  display: flex;
  margin-left: 31px;
  align-items: center;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    display: none;
  }
}

.request-information__img {
  background: $elements-color;
  border-radius: 50%;
  padding: 17px 16px;
  margin-right: 25px;
  box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.request-information__text {
  font-size: 20px;
  line-height: 25px;
  font-family: $futura-demi-c;
  width: 240px;
  color: $elements-color;
}

/* REPAIR-STYLES */

.repair-styles {
  height: 864px;
  background: url(/assets/images/image-5.1.png);
  display: flex;
  position: relative;

  @media screen and (max-width: 425px) {
    height: 220px;
    width: 100%;
    background: #fff;
  }
}

.repair-styles__menu-wparrer {
  width: 35%;
  padding: 137px 0 97px 7%;

  @media screen and (max-width: 425px) {
    padding: 0;
    width: 100%;
  }
}

.repair-styles__menu-title {
  width: 299px;
  height: 66px;
  margin-bottom: 47px;
  font-size: 27px;
  line-height: 37px;
  font-family: $yeseva-one;
  text-transform: uppercase;
  color: $elements-color;

  @media screen and (max-width: 425px) {
    width: 100%;
    text-align: center;
  }
}

.repair-styles__menu {
  width: 299px;
  height: 516px;

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.repair-styles__menu-list {
  list-style: none;
}

.repair-styles__menu-item {
  margin-bottom: 13px;
}

.repair-styles__menu-link {
  font-size: 20px;
  line-height: 34px;
  display: inline-block;
  font-family: $proxima-nove;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  @include transitions();

  &:hover {
    border-color: $elements-color;
    color: $elements-color;
  }

  &--active {
    font-size: 20px;
    line-height: 34px;
    display: inline-block;
    font-family: $proxima-nove;
    color: $elements-color;
    text-decoration: none;
    border-bottom: 1px solid $elements-color;
  }
}

.mobile-slider-wrapper {
  display: none;
  width: 100%;
  height: 242px;
  bottom: -121px;
  position: absolute;

  @media screen and (max-width: 425px) {
    display: block;
  }
}

.mobile-slider {
  position: relative;
  margin: 0 10%;

  .mobile-slider__image {
    width: 100%;
  }

  .mobile-slider__nav-right,
  .mobile-slider__nav-left {
    position: absolute;
    border-radius: 50%;
    background: $elements-color;
    color: #fff;
    top: 103px;
    height: 12px;
    width: 7px;
    padding: 9px 14px 15px 15px;

    @include transitions();

    img {
      width: 6px;
      height: 10px;
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
    }
  }

  .mobile-slider__nav-right {
    right: 14px;
  }

  .mobile-slider__nav-left {
    left: 14px;
    top: 103px;
    padding: 9px 14px 15px 15px;

    img {
      transform: scaleX(-1);
    }
  }
}

.repair-styles__images-wrapper {
  width: 52%;
  height: 1034px;
  margin-top: -120px;
  columns: 2;
  column-gap: 43px;

  @media screen and (min-width: 426px) and (max-width: 1318px) {
    margin-left: 50px;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 40%;
  }

  @media screen and (max-width: 425px) {
    display: none;
  }

  .repair-styles__image:nth-child(odd) {
    margin-bottom: 39px;
  }

  .repair-styles__image:nth-child(1) {
    margin-top: 80px;
  }

  .repair-styles__image:nth-child(4) {
    margin-bottom: 80px;
  }

  .repair-styles__image:nth-child(3),
  .repair-styles__image:nth-child(4) {
    @media screen and (min-width: 426px) and (max-width: 1318px) {
      display: none;
    }
  }
}

/* DESIGNS */

.designs {
  padding: 153px 100px 1px 100px;
  height: 467px;
  background: #fff;

  @media screen and (max-width: 768px) {
    padding-left: 18px;
    padding-right: 18px;
    height: 398px;
  }

  @media screen and (max-width: 425px) {
    height: auto;
    background: $bg-color;
    padding-left: 18px;
    padding-right: 18px;
  }
}

.designs__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 12px;

  @media screen and (max-width: 425px) {
    color: #fff;
    font-size: 22px;
    line-height: 30px;
  }
}

.designs__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 31px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.desings__text-block {
  width: 680px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;

  color: #363636;
  margin: 0 auto 39px;

  @media screen and (max-width: 768px) {
    width: 100%;
    height: auto;
  }

  @media screen and (max-width: 425px) {
    color: #fff;
    font-size: 15px;
    line-height: 20px;
  }
}

.designs__item {
  width: 31%;
  position: relative;

  @media screen and (max-width: 425px) {
    width: 100%;
    margin-bottom: 60px;
  }

  &:nth-child(1) {
    height: 531px;

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      height: 482px;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      height: 452px;
    }
  }

  &:nth-child(1) .item__list-wrapper {
    height: 186px;
  }

  &:nth-child(2) {
    height: 607px;

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      height: 551px;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      height: 530px;
    }
  }

  &:nth-child(2) .item__list-wrapper {
    height: 261px;

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      width: 77%;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      width: 80%;
    }
  }

  &:nth-child(3) {
    height: 735px;

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      height: 690px;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      height: 663px;
    }
  }

  &:nth-child(3) .item__list-wrapper {
    height: 389px;
    @media screen and (min-width: 426px) and (max-width: 1024px) {
      width: 77%;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      width: 81%;
    }
  }

  .item__image {
    width: 100%;
  }

  .item__list-wrapper {
    width: 75%;
    background: #fff;
    position: absolute;
    padding: 25px 0 0 34px;
    top: 294px;
    left: 8%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      top: 228px;
      left: 6%;
      width: 79%;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      padding: 25px 0 0 23px;
      top: 204px;
    }

    @media screen and (max-width: 425px) {
      left: 0;
      width: 236px;
    }
  }

  .item__list-title {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    color: #363636;
    margin-bottom: 13px;
  }

  .item__list {
    padding: 0 0 0 17px;
  }

  .item__list-item {
    font-size: 15px;
    line-height: 25px;
    font-family: $futura-book-c;
    color: #959595;
  }

  .item__button {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 8%;
    padding: 17px 72px 17px 33px;
    background: $elements-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      left: 6%;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      font-size: 15px;
    }

    @media screen and (max-width: 425px) {
      left: 0;
      padding: 11px 46px 11px 46px;
    }
  }
}

/* SECOND-SLIDER */

.second-slider {
  height: 1187px;
  background: $bg-color;
  padding: 428px 101px 0 99px;
  display: flex;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    height: 500px;
  }

  @media screen and (max-width: 425px) {
    display: none;
  }
}

.left-slider-wrapper {
  width: 474px;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    display: none;
  }

  .projects-slider__slider-nav {
    width: 287px;
  }

  .slider-nav__dots {
    width: 145px;
  }
}

.left-slider__title {
  font-size: 15px;
  line-height: 21px;
  font-family: $futura-demi-c;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 17px;

  &--large {
    position: relative;
    font-size: 27px;
    line-height: 37px;
    width: 210px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: $elements-color;
    margin-bottom: 92px;
  }
}

.title-line::after {
  content: '';
  position: absolute;
  width: 92px;
  border: 1px solid #e3b873;
  left: 222px;
  bottom: 11px;
}

.left-slider__slider-item {
  width: 337px;
  height: 322px;
  margin-bottom: 61px;

  .slider-item__pagination {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 22px;
  }

  .slider-item__title {
    width: 200px;
    font-size: 15px;
    line-height: 23px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: $elements-color;
    margin-bottom: 15px;
  }

  .slider-item__content {
    width: 100%;
    height: 222px;
    font-size: 15px;
    line-height: 25px;
    font-family: $futura-book-c;
    color: #fff;

    p {
      margin-bottom: 15px;
    }
  }
}

.right-part {
  width: 61%;
  padding-top: 71px;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    display: none;
  }
}

.steps-nav {
  display: grid;
  grid-template-columns: 127px 127px 127px;
  grid-template-rows: 71px 71px;
  column-gap: 25%;
  row-gap: 36px;
  margin-bottom: 54px;

  @media screen and (max-width: 1210px) {
    column-gap: 16%;
  }
}

.steps-nav__nav-item {
  width: 127px;
  height: 71px;
  opacity: 0.3;

  @include transitions();

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &--active {
    width: 127px;
    height: 71px;

    .nav-item__title {
      width: 18px;
      font-size: 16px;
      line-height: 21px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 1px solid $elements-color;
      margin-bottom: 17px;
    }

    .nav-item__content {
      font-size: 15px;
      line-height: 18px;
      font-family: $futura-book-c;
      color: #fff;
    }
  }

  .nav-item__title {
    width: 18px;
    font-size: 16px;
    line-height: 21px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid $elements-color;
    margin-bottom: 17px;
  }

  .nav-item__content {
    font-size: 15px;
    line-height: 18px;
    font-family: $futura-book-c;
    color: #fff;
  }
}

.steps-image {
  width: 100%;
}

/* TEAM */

.team-wrapper {
  position: relative;
  height: 485px;
  background: #fff;

  @media screen and (min-width: 426px) and (max-width: 768px) {
    height: 423px;
  }

  @media screen and (max-width: 425px) {
    height: auto;
    background: $bg-color;
  }
}

.team {
  position: absolute;
  width: 74%;
  height: 843px;
  top: -406px;
  right: 13%;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    width: 88%;
    right: 6%;
  }

  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: 94%;
    right: 3%;
  }

  @media screen and (max-width: 425px) {
    position: unset;
    width: auto;
    height: auto;
    padding-bottom: 1px;
  }
}

.team__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #fff;
}

.team__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 14px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.team__title-text {
  width: 454px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;
  color: #fff;
  margin: 0 auto 38px;

  @media screen and (max-width: 425px) {
    width: 340px;
    height: 42px;
    font-size: 15px;
    line-height: 135.84%;
  }
}

.team__cards-wrapper {
  width: 100%;
  margin: 0 auto 53px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 425px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.team__card {
  height: 414px;
  //width: 272px;
  width: 26%;
  padding-left: 35px;
  padding-top: 35px;
  position: relative;

  @media screen and (min-width: 426px) and (max-width: 768px) {
    height: 349px;
  }

  @media screen and (max-width: 425px) {
    width: 304px;
    margin: 0 auto 54px;
  }

  .card__image {
    width: 100%;
  }

  .card__description {
    width: 75%;
    height: 115px;
    padding-top: 22px;
    position: absolute;
    bottom: 0;
    left: 19%;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      bottom: 10px;
      padding-top: 13px;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      width: 80%;
      left: 18%;
    }

    @media screen and (max-width: 425px) {
      width: 71.5%;
    }

    .card__description-name {
      font-size: 18px;
      line-height: 25px;
      font-family: $yeseva-one;
      text-align: center;
      color: #181818;
      margin-bottom: 1px;
    }

    .card__description-text {
      font-size: 18px;
      line-height: 26px;
      font-family: $futura-book-c;
      text-align: center;
      color: #959595;
    }
  }

  .card__footer {
    font-size: 13px;
    line-height: 20px;
    font-family: $yeseva-one;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: $elements-color;
    padding: 13px 9% 14px 8%;
    position: absolute;
    bottom: 0;
    left: 19%;

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      padding: 13px 3% 14px 2%;
    }

    @media screen and (min-width: 426px) and (max-width: 768px) {
      left: 18%;
    }
  }

  &:nth-child(3) .card__description {
    @media screen and (max-width: 425px) {
      width: 69.5%;
    }
  }

  &:nth-child(3) .card__footer {
    padding-right: 19px;

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      padding: 13px 2% 14px 2%;
    }
  }

  .card__logo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 13px;
    background: $elements-color;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  }
}

.team__content-text {
  position: relative;
  width: 540px;
  height: 138px;
  padding-top: 17px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;
  color: #363636;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    width: 55px;
    top: 0;
    left: 45%;
    border: 1px solid #e3b873;
  }

  @media screen and (max-width: 425px) {
    display: none;
  }
}

/* TESTIMONIALS */

.testimonials {
  height: 999px;
  background: #fff;
  padding: 0 7%;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    height: 1530px;
  }

  @media screen and (max-width: 425px) {
    display: none;
  }

  .cards-wrapper {
    @media screen and (min-width: 426px) and (max-width: 1024px) {
      flex-direction: column;
    }
  }
}

.testimonials__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}

.testimonials__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 14px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.testimonials__title-text {
  width: 395px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;
  color: #363636;
  margin: 0 auto 42px;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    margin-bottom: 70px;
  }
}

.testimonials__card {
  position: relative;
  width: 30%;
  height: 455px;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    width: 100%;
    height: 320px;
    margin-bottom: 40px;
  }

  .card__content {
    height: 404px;
    padding: 24px 31px 0 20px;
    background: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);

    @media screen and (max-width: 1024px) {
      height: auto;
      padding: 24px 31px 14px 20px;
    }
  }

  .card__content-header {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    .card__content-image {
      height: 76px;
      width: 76px;
      border-radius: 50%;
      margin-right: 23px;
    }

    .card__content-title {
      font-size: 18px;
      line-height: 23px;
      width: 178px;
      font-family: $yeseva-one;
      color: #181818;
    }
  }

  .card__content-text {
    font-size: 15px;
    line-height: 27px;
    font-family: $futura-book-c;
    color: #959595;
  }

  .card__footer {
    width: 293px;
    height: 54px;
    display: flex;
    background: $elements-color;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;

    .card__footer-left {
      display: flex;
      align-items: center;
      width: 118px;
      padding: 11px 0 11px 17px;
      border-right: 1px solid #fff;
    }

    .card__footer-right {
      display: flex;
      align-items: center;
      width: 141px;
      padding: 11px 0 11px 17px;
    }

    img {
      margin-right: 15px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

/* CONTACTS */

.contacts-wrapper {
  height: 953px;
  background: url(/assets/images/contacts-bg.png);
  position: relative;

  @media screen and (max-width: 425px) {
    height: auto;
    background: #181818;
  }
}

.contacts {
  position: absolute;
  left: 18%;
  top: -222px;
  width: 64%;
  height: 1100px;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 425px) {
    position: unset;
    width: 100%;
    height: auto;
  }
}

.contacts__questions-form {
  height: 377px;
  display: block;
  background: #181818;
  padding: 34px 21%;
  margin-bottom: 52px;

  @media screen and (max-width: 425px) {
    padding: 0 18px;
    height: auto;
  }

  .questions-form__title {
    font-size: 20px;
    line-height: 28px;
    font-family: $yeseva-one;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 45px;
  }

  .form__group {
    margin-bottom: 46px;

    @media screen and (max-width: 425px) {
      &:nth-child(3) {
        margin-bottom: 21px;
      }
    }
  }

  .form__row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 46px;

    @media screen and (max-width: 425px) {
      flex-direction: column;
      margin-bottom: 0;
    }

    .form__group {
      width: 231px;
      margin-bottom: 0;

      @media screen and (max-width: 425px) {
        width: 100%;
        margin-bottom: 63px;
      }
    }
  }

  .form__group input {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.15);
    line-height: 25px;

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }

    &::placeholder {
      color: #fff;
    }
  }

  .form__group label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form__checkbox {
    width: 288px;
    margin: 0 auto 40px;

    @media screen and (max-width: 425px) {
      margin: 0 0 40px;
    }
  }

  .form__checkbox label {
    color: #fff;
  }

  .request-form__form-submit {
    font-size: 15px;
    line-height: 26px;
    font-family: $futura-demi-c;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid $elements-color;
    color: #fff;
    background-color: $elements-color;
    padding: 8px 64px 11px 64px;
    margin: 0 auto;
    display: block;

    &:hover {
      cursor: pointer;
    }

    @media screen and (max-width: 425px) {
      margin-left: 0;
      padding: 8px 0 11px 0;
      width: 100%;
    }
  }
}

.contacts__address {
  height: auto;
  width: 589px;
  margin: 0 auto 43px;

  @media screen and (min-width: 426px) and (max-width: 768px) {
    width: auto;
  }

  @media screen and (max-width: 425px) {
    width: auto;
    padding: 0 18px;
    order: 2;
  }

  .contacts__address-title {
    font-size: 20px;
    line-height: 28px;
    font-family: $yeseva-one;
    text-align: center;
    text-transform: uppercase;
    color: $elements-color;
    margin-bottom: 26px;

    @media screen and (max-width: 425px) {
      font-size: 18px;
      line-height: 25px;
    }
  }

  .contacts__socials {
    display: flex;
    justify-content: space-between;
    width: 71px;
    margin: 0 auto;
  }

  .socials__item {
    position: relative;
    display: block;
    background: $elements-color;
    color: #fff;
    height: 28px;
    width: 28px;
    border-radius: 50%;

    i {
      position: absolute;
    }

    .far {
      top: 6px;
      left: 6px;
    }

    .fab {
      top: 6px;
      left: 7px;
    }
  }
}

.contacts__map {
  height: 465px;

  @media screen and (max-width: 425px) {
    padding: 0 18px;
    height: 255px;
    margin-bottom: 41px;
  }
}

/* FOOTER */

.footer {
  height: 37px;
  background: $bg-color;
  padding: 48px 7% 48px 7%;

  @media screen and (min-width: 426px) and (max-width: 1024px) {
    padding: 48px 7% 20px 7%;
  }

  @media screen and (max-width: 768px) {
    display: none;
  }

  @media screen and (max-width: 425px) {
    display: none;
  }

  .footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .footer__title {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $elements-color;
    font-family: $futura-demi-c;
  }

  .footer__navbar {
    width: 47%;
    ul {
      display: flex;
      padding: 0;
      width: 100%;
      justify-content: space-between;

      .footer__item {
        list-style: none;
      }

      .footer__link {
        font-size: 14px;
        line-height: 16px;
        text-decoration: none;
        color: #fff;
        font-family: $futura-book-c;

        @include transitions();

        &--active {
          color: $elements-color;
          text-decoration: none;
        }

        &:hover {
          color: $elements-color;
        }
      }
    }
  }

  .footer__tel {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    font-family: $futura-book-c;

    @include transitions();

    &:hover {
      color: $elements-color;
      text-decoration: underline;
    }
  }

  .footer__button {
    border: 1px solid $elements-color;
    color: #fff;
    background-color: $elements-color;
    border-radius: 2px;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 15px;
    padding: 13px 33px;
    font-family: $futura-demi-c;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);

    @media screen and (min-width: 426px) and (max-width: 1024px) {
      display: none;
    }
  }
}
