$bg-color: #131313;
$elements-color: #e3b873;

$futura-book-c: 'FuturaBookC', sans-serif;
$futura-demi-c: 'FuturaDemiC', sans-serif;
$futura-medium-c: 'FuturaMediumC', sans-serif;
$proxima-nove: 'Proxima Nova', sans-serif;
$yeseva-one: 'Yeseva One', cursive;

@mixin transitions() {
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1438px;
  margin: 0 auto;
}

/* BUTTONS */
.button {
  border: 1px solid $elements-color;
  color: #fff;
  background-color: $elements-color;
  border-radius: 2px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;

  &.button--small {
    font-size: 13px;
    line-height: 15px;
    padding: 13px 33px;
    font-family: $futura-demi-c;
  }
}

/* HEADER */

.header {
  height: 37px;
  background-color: $bg-color;
  padding: 24px 100px 22px 82px;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__title {
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  color: $elements-color;
  font-family: $futura-demi-c;
}

.header__navbar > ul {
  display: flex;
  padding: 0;
  width: 581px;
  justify-content: space-between;

  .navbar__item {
    list-style: none;
  }

  .navbar__link {
    font-size: 14px;
    line-height: 16px;
    text-decoration: none;
    color: #fff;
    font-family: $futura-book-c;

    @include transitions();

    &--active {
      color: $elements-color;
      text-decoration: none;
    }

    &:hover {
      color: $elements-color;
    }
  }
}

.header__tel {
  font-size: 14px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  font-family: $futura-book-c;

  @include transitions();

  &:hover {
    color: $elements-color;
    text-decoration: underline;
  }
}

/* INTRO */

.intro-wrapper {
  display: flex;
  height: 707px;
  position: relative;

  @media screen and (max-width: 375px) {
    height: 476px;
  }
}

.intro__instagram {
  background: $bg-color;
  width: 81px;
  position: relative;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.instagram__wrapper {
  position: absolute;
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  width: 148px;
  top: 227px;
  right: -35px;
}

.instagram__link {
  font-size: 14px;
  line-height: 16px;
  font-family: $futura-demi-c;
  text-align: center;
  text-decoration: none;
  color: $elements-color;
  margin-right: 9px;
}

.instagram__line {
  border-top: 1.5px solid $elements-color;
  width: 51px;
}

.intro__main {
  background-image: url(/assets/images/image-4.3.png);
  width: 1298px;
  padding: 318px 0 0 60px;
}

.main__content {
  font-size: 22px;
  line-height: 30px;
  font-family: $futura-book-c;
  font-weight: 300;
  color: #ffffff;
  z-index: 2;
  width: 444px;
  height: 89px;
  margin-bottom: 41px;
}

.main__buttons-row {
  width: 434px;
  display: flex;
  justify-content: space-between;
}

.main__button {
  display: block;
  font-size: 13px;
  line-height: 15px;
  font-family: $futura-demi-c;
  text-align: center;
  color: #fff;
  height: 13px;
  width: 207px;
  padding: 19px 0;
  border: 1px solid #fff;
  border-radius: 2px;

  @include transitions();

  &:hover {
    background: $elements-color;
    border-color: $elements-color;
    cursor: pointer;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
  }
}

.scroll {
  width: 150px;
  height: 29px;
  padding: 34px 49px 34px 48px;
  background: $bg-color;
  position: absolute;
  bottom: -48px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.scroll__title {
  font-size: 14px;
  line-height: 19px;
  font-family: $yeseva-one;
  text-transform: uppercase;
  color: #fff;
}

.scroll__button {
  width: 29px;
  height: 29px;
  border: 1.5px solid $elements-color;
  border-radius: 50%;
  color: $elements-color;

  i {
    position: relative;
    top: 7px;
    left: 10px;
    @include transitions();
  }

  &:hover {
    cursor: pointer;
  }

  &:hover i {
    top: 12px;
  }
}

/* FIRST-SLIDER */

.first-slider {
  background: $bg-color;
  height: 1074px;
  display: flex;

  @media screen and (max-width: 375px) {
    display: block;
    height: auto;
  }
}

.projects-slider-wrapper {
  width: 492px;
  height: 482px;
  background: $bg-color;
  padding-left: 101px;
  padding-top: 176px;

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.projects-slider__slider-item {
  margin-bottom: 63px;
}

.slider-item__title {
  width: 253px;
  height: 66px;
  margin-bottom: 34px;
  font-size: 27px;
  line-height: 37px;
  font-family: $yeseva-one;
  letter-spacing: -0.07em;
  text-transform: uppercase;
  color: $elements-color;
}

.slider-item__content {
  font-size: 18px;
  line-height: 29px;
  color: #fff;
  font-family: $futura-book-c;
  height: 86px;
  width: 440px;
  margin-bottom: 42px;
}

.slider-item__content-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 34px;

  .content-grid__item {
    font-size: 15px;
    line-height: 20px;
    font-family: $futura-book-c;
    color: #fff;

    .item__title {
      font-size: 18px;
      line-height: 25px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: $elements-color;
      margin-bottom: 9px;
    }
  }
}

.projects-slider__slider-nav {
  width: 204px;
  height: 13px;
  display: flex;
  justify-content: space-between;
}

.slider-nav__left,
.slider-nav__right {
  &:hover {
    cursor: pointer;
  }
}

.slider-nav__dots {
  width: 63px;
  display: flex;
  justify-content: space-between;
}

.slider-nav__dot {
  height: 9px;
  width: 9px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);

  @include transitions();

  &--active {
    height: 9px;
    width: 9px;
    border-radius: 50%;
    background: #fff;
  }

  &:hover {
    background: #fff;
    cursor: pointer;
  }
}

.images-slider-wrapper {
  width: 845px;
  height: 551px;
  padding-top: 107px;
  background: $bg-color;

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.images-slider__nav {
  width: 623px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  line-height: 19px;
  font-family: $yeseva-one;
  text-transform: uppercase;
  margin-bottom: 53px;
}

.images-slider__nav-item {
  color: rgba(255, 255, 255, 0.3);

  @include transitions();

  &--active {
    color: $elements-color;
    text-decoration: underline;
  }

  &:hover {
    color: $elements-color;
    cursor: pointer;
    text-decoration: underline;
  }
}

.images-slider__items-row {
  position: relative;
  display: flex;
  overflow: hidden;
}

.images-slider__item {
  width: 100%;
  margin-right: 21px;
}

.images-slider__nav-right,
.images-slider__nav-left {
  position: absolute;
  top: 205px;
  width: 10px;
  height: 17px;
  border-radius: 50%;
  background: $elements-color;
  color: #fff;
  padding: 18px 21px 19px 23px;

  @include transitions();

  &:hover {
    cursor: pointer;
    box-shadow: 0px 0px 15px rgba(227, 184, 115, 0.5);
  }
}

.images-slider__nav-right {
  right: 45px;
}

.images-slider__nav-left {
  left: 45px;
  padding: 18px 23px 19px 21px;

  img {
    transform: scaleX(-1);
  }
}

/* REPAIR-INFO */

.repair-info-wrapper {
  height: 833px;
  background: #fff;
  position: relative;
}

.repair-info {
  position: absolute;
  height: 1105px;
  width: 817px;
  top: -272px;
  left: 310px;

  @media screen and (max-width: 375px) {
    position: unset;
    height: 100%;
    width: 100%;
  }
}

.repair-info__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 12px;
}

.repair-info__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 31px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.repair-info__video {
  height: 434px;
  margin-bottom: 62px;
  box-shadow: 0px 20px 50px rgba(0, 0, 0, 0.15);

  iframe {
    width: 100%;
    height: 100%;
  }
}

.repair-info__content {
  position: relative;
  width: 673px;
  padding-top: 34px;
  height: 130px;
  margin: 0 auto 91px;
  font-size: 20px;
  line-height: 34px;
  font-family: $futura-book-c;
  text-align: center;
  color: #363636;

  &::before {
    content: '';
    position: absolute;
    width: 55px;
    top: 0;
    left: 45%;
    border: 1px solid $elements-color;
  }
}

.repair-info__form {
  width: 769px;
  margin: 0 auto;

  form {
    width: 100%;
    display: grid;
    column-gap: 50px;
    grid-template-columns: 231px 231px 200px;
    grid-template-rows: 51px 51px;
    grid-template-areas:
      'name tel button'
      'checkbox checkbox checkbox';
  }
}

.form__group {
  label {
    font-size: 15px;
    line-height: 20px;
    font-family: $futura-book-c;
    color: rgba(54, 54, 54, 0.5);
  }

  input[type='text'],
  input[type='tel'],
  input[type='email'] {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgba(36, 36, 36, 0.3);
    padding-bottom: 8px;
    font-size: 18px;
    line-height: 24px;
    font-family: $futura-book-c;
    display: block;
    background: transparent;

    color: #363636;

    &:focus {
      outline: none;
    }
  }
}

.form__name {
  display: block;
  grid-area: name;
}

.from__phone {
  display: block;
  grid-area: tel;
}

.form__checkbox {
  grid-area: checkbox;
  justify-self: center;
  align-self: end;

  label {
    font-size: 16px;
    line-height: 22px;
    font-family: $futura-book-c;
    color: #181818;
  }

  .custom-cb {
    position: absolute;
    opacity: 0;

    & + label {
      position: relative;
      cursor: pointer;
      padding: 0;
    }

    & + label::before {
      content: '';
      margin-right: 8px;
      display: inline-block;
      vertical-align: text-top;
      width: 18px;
      height: 18px;
      border: 1px solid $elements-color;
      border-radius: 1px;
      //background: #fff;
      background: transparent;
    }

    &:hover + label::before {
      background: $elements-color;
    }

    &:checked + label::before {
      background: $elements-color;
    }

    &:checked + label:after {
      content: '';
      position: absolute;
      left: 5px;
      top: 9px;
      background: #fff;
      width: 2px;
      height: 2px;
      box-shadow: 2px 0 0 #fff, 4px 0 0 #fff, 4px -2px 0 #fff, 4px -4px 0 #fff, 4px -6px 0 #fff, 4px -8px 0 #fff;
      transform: rotate(45deg);
    }
  }
}

.repair-info__form-submit {
  grid-area: button;
  border: 1px solid $elements-color;
  color: #fff;
  background-color: $elements-color;
  border-radius: 2px;
  font-size: 15px;
  line-height: 26px;
  font-family: $futura-demi-c;
  text-transform: uppercase;
  padding: 13px 70px;
  box-shadow: 0px 15px 15px rgba(227, 184, 115, 0.15);

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
  }
}

/* REPAIR-TYPES */

.repair-types-wrapper {
  height: 833px;
  background: #fff;
  padding: 0 100px;

  @media screen and (max-width: 375px) {
    padding: 0;
    width: 100%;
    height: 100%;
  }
}

.repair-types {
  height: 100%;
}

.repair-types__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 12px;
}

.repair-types__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 31px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.section__title {
  width: 257px;
  height: 67px;
  background: $bg-color;
  margin: 0 auto 31px;
}

.cards-wrapper {
  width: 1238px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 375px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
  }
}

.repair-types__item {
  height: 608px;
  width: 392px;
  position: relative;

  @media screen and (max-width: 375px) {
    margin-bottom: 59px;
    width: 100%;
  }

  &:hover {
    cursor: pointer;
  }

  .item__image {
    width: 100%;
  }

  .item__list-wrapper {
    width: 296px;
    height: 261px;
    background: #fff;
    position: absolute;
    padding: 25px 0 0 34px;
    top: 294px;
    left: 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }

  .item__list-title {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    color: #363636;
    margin-bottom: 13px;
  }

  .item__list {
    padding: 0 0 0 17px;
  }

  .item__list-item {
    font-size: 15px;
    line-height: 25px;
    font-family: $futura-book-c;
    color: #959595;
  }

  .item__button {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 31px;
    padding: 17px 21px;
    background: $elements-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
}

/* REQUEST */

.request-wrapper {
  height: 1092px;
  display: flex;
  background: #fff;
}

.request-descr-wrapper {
  width: 835px;
  height: 100%;
  position: relative;
  overflow: hidden;

  .background-circle {
    position: absolute;
    height: 638px;
    width: 638px;
    border-radius: 50%;
    top: 55px;
    left: -157px;
    border: 3px solid $elements-color;
  }
}

.background-image {
  position: relative;
}

.request__item {
  display: flex;
  position: absolute;
  align-items: center;
  z-index: 2;

  &:nth-child(1) {
    top: 117px;
    left: 358px;
  }

  &:nth-child(2) {
    top: 228px;
    left: 432px;
  }

  &:nth-child(3) {
    top: 389px;
    left: 456px;
  }

  &:nth-child(4) {
    top: 549px;
    left: 391px;
  }

  &:nth-child(4) .request__item-text {
    width: 208px;
  }
}

.request__item-number {
  font-size: 18px;
  line-height: 25px;
  font-family: $yeseva-one;
  text-align: center;
  margin-right: 2px;
  color: #fff;
  background: $elements-color;
  height: 33px;
  width: 41px;
  padding-top: 8px;
  border-radius: 50%;
  border: 8px solid #fff;
}

.request__item-text {
  font-size: 18px;
  line-height: 21px;
  font-family: $futura-medium-c;
  color: #363636;
  width: 364px;
}

.request-form-wrapper {
  width: 605px;
  padding-top: 110px;
}

.request-form {
  width: 408px;
  height: 481px;
  padding: 28px 49px 27px 49px;
  background: #131313;
  box-shadow: 0px 30px 30px rgba(0, 0, 0, 0.05);
  margin-bottom: 38px;

  .form__group {
    width: 100%;

    &:nth-child(2) {
      margin-bottom: 48px;
    }

    &:nth-child(3) {
      margin-bottom: 48px;
    }

    &:nth-child(4) {
      margin-bottom: 16px;
    }

    &:nth-child(5) {
      margin-bottom: 39px;
    }
  }

  .form__group input {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.15);
    line-height: 25px;

    &::-webkit-input-placeholder {
      color: #fff;
    }

    &:-ms-input-placeholder {
      color: #fff;
    }

    &::placeholder {
      color: #fff;
    }
  }

  .form__group label {
    color: rgba(255, 255, 255, 0.5);
  }

  .form__checkbox label {
    color: #fff;
  }
}

.request-form__title {
  font-size: 20px;
  line-height: 25px;
  font-family: $futura-demi-c;
  text-align: center;
  color: #fff;
  width: 290px;
  height: 47px;
  margin: 0 auto 39px;
}

.request-form__form-submit {
  font-size: 13px;
  line-height: 18px;
  font-family: $futura-demi-c;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid $elements-color;
  color: #fff;
  background-color: $elements-color;
  padding: 18px 44px 19px 45px;
  margin-left: 178px;
}

.request-information {
  display: flex;
  margin-left: 31px;
  align-items: center;
}

.request-information__img {
  background: $elements-color;
  border-radius: 50%;
  padding: 17px 16px;
  margin-right: 25px;
  box-shadow: 0px 10px 20px rgba(237, 192, 120, 0.2);
}

.request-information__text {
  font-size: 20px;
  line-height: 25px;
  font-family: $futura-demi-c;
  width: 240px;
  color: $elements-color;
}

/* REPAIR-STYLES */

.repair-styles {
  height: 864px;
  background: url(/assets/images/image-5.1.png);
  display: flex;
  position: relative;

  @media screen and (max-width: 375px) {
    height: 220px;
    width: 100%;
  }
}

.repair-styles__menu-wparrer {
  width: 510px;
  padding: 137px 0 97px 99px;

  @media screen and (max-width: 375px) {
    padding: 0;
    width: 100%;
  }
}

.repair-styles__menu-title {
  width: 299px;
  height: 66px;
  margin-bottom: 47px;
  font-size: 27px;
  line-height: 37px;
  font-family: $yeseva-one;
  text-transform: uppercase;
  color: $elements-color;

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.repair-styles__menu {
  width: 299px;
  height: 516px;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.repair-styles__menu-list {
  list-style: none;
}

.repair-styles__menu-item {
  margin-bottom: 13px;
}

.repair-styles__menu-link {
  font-size: 20px;
  line-height: 34px;
  display: inline-block;
  font-family: $proxima-nove;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px solid transparent;

  @include transitions();

  &:hover {
    border-color: $elements-color;
    color: $elements-color;
  }
}

.mobile-slider {
  display: none;
  background: #e3b873;

  @media screen and (max-width: 375px) {
    display: block;
    width: 340px;
    height: 242px;
    bottom: -121px;
    left: 18px;
    position: absolute;
  }
}

.repair-styles__images-wrapper {
  width: 751px;
  height: 1034px;
  margin-top: -120px;
  columns: 2;
  column-gap: 43px;

  @media screen and (max-width: 375px) {
    display: none;
  }

  .repair-styles__image:nth-child(odd) {
    margin-bottom: 39px;
  }

  .repair-styles__image:nth-child(1) {
    margin-top: 80px;
  }

  .repair-styles__image:nth-child(4) {
    margin-bottom: 80px;
  }
}

/* DESIGNS */

.designs {
  padding-top: 153px;
  height: 467px;
  background: #fff;

  @media screen and (max-width: 375px) {
    height: auto;
  }
}

.designs__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 12px;
}

.designs__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 31px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.desings__text-block {
  width: 680px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;

  color: #363636;
  margin: 0 auto 39px;

  @media screen and (max-width: 375px) {
    width: 100%;
  }
}

.designs__item {
  width: 392px;
  position: relative;

  @media screen and (max-width: 375px) {
    width: 100%;
    margin-bottom: 60px;
  }

  &:nth-child(1) {
    height: 531px;
  }

  &:nth-child(1) .item__list-wrapper {
    height: 186px;
  }

  &:nth-child(2) {
    height: 607px;
  }

  &:nth-child(2) .item__list-wrapper {
    height: 261px;
  }

  &:nth-child(3) {
    height: 735px;
  }

  &:nth-child(3) .item__list-wrapper {
    height: 389px;
  }

  .item__image {
    width: 100%;
  }

  .item__list-wrapper {
    width: 296px;
    background: #fff;
    position: absolute;
    padding: 25px 0 0 34px;
    top: 294px;
    left: 31px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.03);
  }

  .item__list-title {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    color: #363636;
    margin-bottom: 13px;
  }

  .item__list {
    padding: 0 0 0 17px;
  }

  .item__list-item {
    font-size: 15px;
    line-height: 25px;
    font-family: $futura-book-c;
    color: #959595;
  }

  .item__button {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 31px;
    padding: 17px 72px 17px 33px;
    background: $elements-color;
    box-shadow: 5px 5px 10px rgba(227, 184, 115, 0.3);
  }
}

/* SECOND-SLIDER */

.second-slider {
  height: 1187px;
  background: $bg-color;
  padding: 428px 101px 0 99px;
  display: flex;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.left-slider-wrapper {
  width: 474px;

  .projects-slider__slider-nav {
    width: 287px;
  }

  .slider-nav__dots {
    width: 145px;
  }
}

.left-slider__title {
  font-size: 15px;
  line-height: 21px;
  font-family: $futura-demi-c;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 17px;

  &--large {
    font-size: 27px;
    line-height: 37px;
    width: 210px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: $elements-color;
    margin-bottom: 92px;
  }
}

.left-slider__slider-item {
  width: 337px;
  height: 322px;
  margin-bottom: 61px;

  .slider-item__pagination {
    font-size: 18px;
    line-height: 25px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 22px;
  }

  .slider-item__title {
    width: 200px;
    font-size: 15px;
    line-height: 23px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: $elements-color;
    margin-bottom: 15px;
  }

  .slider-item__content {
    width: 100%;
    height: 222px;
    font-size: 15px;
    line-height: 25px;
    font-family: $futura-book-c;
    color: #fff;

    p {
      margin-bottom: 15px;
    }
  }
}

.right-part {
  width: 765px;
  padding-top: 71px;
}

.steps-nav {
  display: grid;
  grid-template-columns: 127px 127px 127px;
  grid-template-rows: 71px 71px;
  column-gap: 201px;
  row-gap: 36px;
  margin-bottom: 54px;
}

.steps-nav__nav-item {
  width: 127px;
  height: 71px;
  opacity: 0.3;

  @include transitions();

  &:hover {
    cursor: pointer;
    opacity: 1;
  }

  &--active {
    width: 127px;
    height: 71px;

    .nav-item__title {
      width: 18px;
      font-size: 16px;
      line-height: 21px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: #fff;
      border-bottom: 1px solid $elements-color;
      margin-bottom: 17px;
    }

    .nav-item__content {
      font-size: 15px;
      line-height: 18px;
      font-family: $futura-book-c;
      color: #fff;
    }
  }

  .nav-item__title {
    width: 18px;
    font-size: 16px;
    line-height: 21px;
    font-family: $yeseva-one;
    text-transform: uppercase;
    color: #fff;
    border-bottom: 1px solid $elements-color;
    margin-bottom: 17px;
  }

  .nav-item__content {
    font-size: 15px;
    line-height: 18px;
    font-family: $futura-book-c;
    color: #fff;
  }
}

.stes-image {
  width: 100%;
}

/* TEAM */

.team-wrapper {
  position: relative;
  height: 485px;
  background: #fff;

  @media screen and (max-width: 375px) {
    height: auto;
  }
}

.team {
  position: absolute;
  height: 843px;
  width: 1063px;
  top: -406px;
  left: 171px;

  @media screen and (max-width: 375px) {
    position: unset;
    width: auto;
    height: auto;
  }
}

.team__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 12px;
  color: #fff;
}

.team__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 14px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.team__title-text {
  width: 454px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;
  color: #fff;
  margin: 0 auto 38px;

  @media screen and (max-width: 375px) {
    width: 340px;
    height: 42px;
    font-size: 15px;
    line-height: 135.84%;
  }
}

.team__cards-wrapper {
  width: 1063px;
  margin: 0 auto 53px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 375px) {
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-bottom: 0;
  }
}

.team__card {
  height: 414px;
  width: 272px;
  padding-left: 35px;
  padding-top: 35px;
  position: relative;

  @media screen and (max-width: 375px) {
    width: 339px;
    margin: 0 auto 54px;
  }

  .card__image {
    width: 100%;
  }

  .card__description {
    width: 233px;
    height: 115px;
    padding-top: 22px;
    position: absolute;
    bottom: 0;
    left: 55px;
    background: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);

    .card__description-name {
      font-size: 18px;
      line-height: 25px;
      font-family: $yeseva-one;
      text-align: center;
      color: #181818;
      margin-bottom: 1px;
    }

    .card__description-text {
      font-size: 18px;
      line-height: 26px;
      font-family: $futura-book-c;
      text-align: center;
      color: #959595;
    }
  }

  .card__footer {
    font-size: 13px;
    line-height: 20px;
    font-family: $yeseva-one;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background: $elements-color;
    padding: 13px 25px 14px 24px;
    position: absolute;
    bottom: 0;
    left: 55px;
  }

  .card__logo {
    position: absolute;
    top: 0;
    left: 0;
    //width: 70px;
    //height: 70px;
    padding: 13px;
    background: $elements-color;
    box-shadow: 0px 5px 20px rgba(227, 184, 115, 0.5);
  }
}

.team__content-text {
  position: relative;
  width: 540px;
  height: 138px;
  padding-top: 17px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;
  color: #363636;
  margin: 0 auto;

  &::before {
    content: '';
    position: absolute;
    width: 55px;
    top: 0;
    left: 45%;
    border: 1px solid #e3b873;
  }

  @media screen and (max-width: 375px) {
    display: none;
  }
}

/* TESTIMONIALS */

.testimonials {
  height: 999px;
  background: #fff;
  padding: 0 101px;

  @media screen and (max-width: 375px) {
    display: none;
  }
}

.testimonials__title {
  font-size: 20px;
  line-height: 28px;
  font-family: $yeseva-one;
  text-align: center;
  text-transform: uppercase;
  color: #181818;
  margin-bottom: 13px;
}

.testimonials__logo {
  position: relative;
  height: 32px;
  width: 32px;
  margin: 0 auto 14px;

  &::before {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    right: 100%;
    margin-right: 9px;
  }

  &::after {
    content: '';
    position: absolute;
    width: 32px;
    border: 1px solid $elements-color;
    top: 11px;
    left: 100%;
    margin-left: 9px;
  }
}

.testimonials__title-text {
  width: 400px;
  height: 57px;
  font-size: 20px;
  line-height: 27px;
  font-family: $futura-book-c;
  text-align: center;
  color: #363636;
  margin: 0 auto 42px;
}

.testimonials__card {
  position: relative;
  width: 376px;
  height: 455px;

  .card__content {
    height: 404px;
    padding: 24px 31px 0 20px;
    background: #fff;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.04);
  }

  .card__content-header {
    display: flex;
    align-items: center;
    margin-bottom: 22px;

    .card__content-image {
      height: 76px;
      width: 76px;
      border-radius: 50%;
      margin-right: 23px;
    }

    .card__content-title {
      font-size: 18px;
      line-height: 23px;
      width: 178px;
      font-family: $yeseva-one;
      color: #181818;
    }
  }

  .card__content-text {
    font-size: 15px;
    line-height: 27px;
    font-family: $futura-book-c;
    color: #959595;
  }

  .card__footer {
    width: 293px;
    height: 54px;
    display: flex;
    background: $elements-color;
    box-shadow: 5px 5px 20px rgba(227, 184, 115, 0.5);
    position: absolute;
    bottom: 0;
    left: 0;

    .card__footer-left {
      display: flex;
      align-items: center;
      width: 118px;
      padding: 11px 0 11px 17px;
      border-right: 1px solid #fff;
    }

    .card__footer-right {
      display: flex;
      align-items: center;
      width: 141px;
      padding: 11px 0 11px 17px;
    }

    img {
      margin-right: 15px;
    }

    p {
      font-size: 17px;
      line-height: 24px;
      font-family: $yeseva-one;
      text-transform: uppercase;
      color: #fff;
    }
  }
}

/* CONTACTS */

.contacts-wrapper {
  height: 953px;
  background: url(/assets/images/contacts-bg.png);
  position: relative;

  @media screen and (max-width: 375px) {
    height: auto;
  }
}

.contacts {
  position: absolute;
  left: 255px;
  top: -222px;
  width: 925px;
  height: 1100px;
  background: cornflowerblue;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 375px) {
    position: unset;
    width: 100%;
  }
}

.contacts__questions-form {
  height: 445px;
  background: brown;
  margin-bottom: 52px;
}

.contacts__address {
  height: 105px;
  width: 589px;
  margin: 0 auto 43px;
  background: cyan;

  @media screen and (max-width: 375px) {
    width: 100%;
    order: 2;
  }
}

.contacts__map {
  height: 465px;
  background: chocolate;
}

/* FOOTER */

.footer {
  height: 133px;
  background: $bg-color;

  @media screen and (max-width: 375px) {
    display: none;
  }
}
